#nbody{
    position: absolute;
    left: 0;
    top: 0 ;
    width:100%;
    bottom:0;

}
#HeadBody{
    position: absolute;
    left: 0;
    top: 0 ;
    width:100%;
    height: 35px;
    background-color:#2F3D44;
}
#testBody{
    position: absolute;
    left: 0;
    top: 35px ;
    width:100%;
    bottom:0;
    overflow:auto;
    background:white;

}

#testBody2 {
    position: absolute;
    left: 0;
    top: 0 ;
    display:inline-block;
    justify-content:space-around;
    flex-wrap:wrap;
    width:100%;
    height: 100%;
    background-color:white;
}
#JPKC{      /*精品课程*/
    position: absolute;
    left: 88px;
    top: 7px ;
    font: 14px "微软雅黑", Arial, Helvetica, sans-serif,bold;
    color:#99A7AF;
}
#SSFX{     /*师生分享*/
    position: absolute;
    left: 157px;
    top: 7px ;
    font: 14px "微软雅黑", Arial, Helvetica, sans-serif,bold;
    color:#99A7AF;
}

#HeadBody a:hover {
    color:#3089CE;
}
#HeadBody a:active {
    color:#3089CE;
}

#video_item{
    background-color:transparent;

    width:188px;
    height:180px;
    margin:5px;
    -webkit-box-shadow: 1px 1px 5px #000000;
    float:left;
    border-radius: 5px;
    padding: 1px;
}

#video_item_head{
    text-align: center;
    background-color:black;
     /*background-image:url(http://120.25.98.41/fanke/uploadFile/mp4_img/dxsgejy_xyjy.jpg);-*/
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    border-radius: 5px 5px 0px 0px;
    width:100%;
    height:140px;



}
#video_item_head_img{
    background-image: url(../Image/weike_cover.png)  ;;
    background-repeat:no-repeat;
    background-position: center;
    background-size:70px auto;
    cursor: hand;
    float:left;
    width:100%;
    height:140px;
    z-index: 100;
    border-radius: 5px 5px 0px 0px;
}

#video_item_info{
    background-color: white;
    float:left;
    width:100%;
    height:40px;
    z-index: 101;
    border-radius: 0px 0px 5px 5px;
    cursor: hand;

}
#video_item_info_time{
    font: 12px "微软雅黑", Arial, Helvetica, sans-serif,bold;
    color:orange;
    cursor: hand;
}

#video_item_info_title{
    font: 12px "微软雅黑", Arial, Helvetica, sans-serif,bold;
    color:black;
    font-weight:bold;
    cursor: hand;
}

#comment_view{
    opacity: 1;
    height:300px;
    z-index: 400;
    position: fixed;
    width:100%;
    bottom:0;
    background:white;
    color: black;
    display:none;
    margin-bottom: -350px

}
#commnet_content {
    opacity: 1;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid rgba(0,0,0,.2);
    background:darkkhaki;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.5);

    width:95%;
    height:95%;
    filter:blur(10px);
}

#commnet_content_write{
    border-radius: 5px 5px 0 0;
    opacity: 1;
    width:100%;
    height:100px;
    background:beige;
}
#commnet_content_read{

    overflow:auto;
    top:100px;

    width:100%;
    height:185px;
    background:white;
}


#commnet_list_data{
    float: left;
    width:100%;
    height:50px;

}

#commnet_list_hr {

    width:100%;
    height:1px;
    border:none;
    border-top:1px dashed #0066CC;

}

#commnet_list_data p{
    float: left;

}
#commnet_list_data_nickname{
    float: left;
    color: blue;
}
#commnet_list_data img{
    float: left;
    width: 50px;
    height: 50px;

}


@-webkit-keyframes openComment_view  {
     0%{margin-bottom: -350px;}
     100%{margin-bottom: 0px;}
 }
@-webkit-keyframes closeComment_view  {
    0%{margin-bottom: 0px;}
    100%{margin-bottom: -350px;}
}
@-webkit-keyframes ResetComment_view  {
    0%{margin-bottom: 0px;}
    100%{margin-bottom: -100px;}
}
@-webkit-keyframes ResetComment_view2  {
    0%{margin-bottom: -100px;}
    100%{margin-bottom: 0px;}
}

/*
#comment_view:target{
    color: black;
    background: white;
    transition: all .1s ease-in-out;
    z-index: 401;
    position: fixed;
    bottom:0;
    margin-bottom: 0px;
}

#video_item_info >a{
    display: inline-block;
    background: rgba(247, 248, 241,1);
}
*/