.contentBody{
    position: absolute;
    left: 0;
    top: 35px ;
    width:100%;
    bottom:0;
    overflow:auto;
    background:white;

}
/*.nbody{
    position: absolute;
    left: 0;
    top: 0 ;
    width:100%;
    bottom:0;

}*/
#content1_top{
    float: left;
    width:100%;
    height: 10%;
    background-color:yellow;
}
#content1_botom{
    float: left;
    width:100%;
    height: 10%;
    background-color:deeppink;
}
#content1_left{
    float: left;
    width:20%;
    height: 100%;
    background-color:deepskyblue;
}
#content1_right{
    float: left;
    width:20%;
    height: 100%;
    background-color:darkblue;
}

#content1{
    float: left;
    display:inline-block;
    justify-content:space-around;
    flex-wrap:wrap;
    width:60%;
    height: 100%;
    overflow: auto;
    background-color:white;
}
#video_item{
    background-color:transparent;

    width:188px;
    height:180px;
    margin:5px;
    -webkit-box-shadow: 1px 1px 5px #000000;
    float:left;
    border-radius: 5px;
    padding: 1px;
}

#video_item_head{
    text-align: center;
    background-color:black;

    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    border-radius: 5px 5px 0px 0px;
    width:100%;
    height:140px;



}
#video_item_head_img{
    background-image: url(../Image/weike_cover.png)  ;;
    background-repeat:no-repeat;
    background-position: center;
    background-size:70px auto;
    cursor: hand;
    float:left;
    width:100%;
    height:140px;
    z-index: 100;
    border-radius: 5px 5px 0px 0px;
}

#video_item_info{
    background-color: white;
    float:left;
    width:100%;
    height:40px;
    z-index: 101;
    border-radius: 0px 0px 5px 5px;
    cursor: hand;

}
#video_item_info_time{
    font: 12px "微软雅黑", Arial, Helvetica, sans-serif,bold;
    color:orange;
    cursor: hand;
}

#video_item_info_title{
    font: 12px "微软雅黑", Arial, Helvetica, sans-serif,bold;
    color:black;
    font-weight:bold;
    cursor: hand;
}


@-webkit-keyframes C1_openComment_view  {
    0%{height: 100%;}
    100%{height: 50%;}
}
@-webkit-keyframes C1B_openComment_view  {
    0%{height: 0%;}
    100%{height: 50%;}
}
@-webkit-keyframes C1_openComment_view_Next_1  {
    0%{height: 50%;}
    100%{height: 70%;}
}
@-webkit-keyframes C1_openComment_view_Next_2  {
    0%{height: 70%;}
    100%{height: 50%;}
}
@-webkit-keyframes C1B_openComment_view_Next_1  {
     0%{height: 50%;}
     100%{height: 30%;}
}
@-webkit-keyframes C1B_openComment_view_Next_2  {
    0%{height: 30%;}
    100%{height: 50%;}
}
@-webkit-keyframes C1_openComment_view_close  {
    0%{height: 50%;}
    100%{height: 100%;}
}
@-webkit-keyframes C1B_openComment_view_clsoe  {
    0%{height: 50%;}
    100%{height: 0%;}
}

/*
#nbody{
    position: absolute;
    left: 0;
    top: 0 ;
    width:100%;
    bottom:0;

}
#HeadBody{
    position: absolute;
    left: 0;
    top: 0 ;
    width:100%;
    height: 35px;
    background-color:#2F3D44;
}
#testBody{
    position: absolute;
    left: 0;
    top: 35px ;
    width:100%;
    bottom:0;
    overflow:auto;
    background:white;

}

#testBody2 {
    position: absolute;
    left: 0;
    top: 0 ;
    display:inline-block;
    justify-content:space-around;
    flex-wrap:wrap;
    width:100%;
    height: 100%;
    background-color:white;
}
#JPKC{
    position: absolute;
    left: 88px;
    top: 7px ;
    font: 14px "微软雅黑", Arial, Helvetica, sans-serif,bold;
    color:#99A7AF;
}
#SSFX{
    position: absolute;
    left: 157px;
    top: 7px ;
    font: 14px "微软雅黑", Arial, Helvetica, sans-serif,bold;
    color:#99A7AF;
}

#HeadBody a:hover {
    color:#3089CE;
}
#HeadBody a:active {
    color:#3089CE;
}









*/